div.card-div {
    border: 1px solid #d8d9db;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 306px;
    margin: 0;
    overflow: hidden;
    position: relative;
    transition: all .3s;
    font-size:larger;
    width: 236px;
}

.card-div:hover {
    cursor: pointer;
}

.booked-times-logo {
    height: 24px;
    width: 24px;
}

.card-list-item {
    list-style: none;
}

.list-of-card-items {
    display: flex;
}

.card-photo {
    width: 234px;
    height: 132px;
    object-fit: cover;
}

.dot-separator {
    height: 20px;
    width: 20px;
    padding: 0px;
}

.reviews-span {
    font-size: 14px;
}

.restaurant-card-header {
    overflow: hidden;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-base {
    background-color: #fff;
    color: initial;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: hidden;
    padding: 8px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}

.dollar-sign-light {
    color: #0003;
}

.dollar-sign-dark {
    color: #2d333f;
}
.restaurant-card-navlink {
    text-decoration: none;
}

.cuisine-header {
    margin-left: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.75rem;
    border-bottom: 0.0625rem solid #d8d9db;
    display: flex;
    justify-content: space-between;
    margin: 0 0 16px;
    padding-bottom: 16px;
    margin-top: 20px;
}

.fake-location-tag {
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin: 0 8px 0 0;
}

.fake-location-tag-div {
    border-bottom: 0.0625rem solid #d8d9db;
    opacity: 1;
    padding-bottom: 1rem;
    padding-top: 1rem;
    transition: opacity .5s 4s,height .5s 4.5s,padding-bottom .5s 4.5s,padding-top .5s 4.5s;
    margin-left: 20px;
}
