div.card-div {
    border: 1px solid #d8d9db;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
    transition: all .3s;
    width: 100%;
    font-size:larger;
    /* z-index: 1; */

}