button.signin-continue {
    background-color: #da3743;
    color: #fff;
    border-radius: 4px;
    height: 3rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    width: 75%;
    text-align: center;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-switch {
    color: red;
    background-color: #fff;
    text-decoration: underline;
    border-radius: 4px;
    height: 3rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    width: 75%;
    text-align: center;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:20px;
}
button.signin-continue:hover:not(:disabled) {
    background-color: #b8222d;
}

div #modal-content {
    background-color: #fff;
    padding: 48px 32px;
    padding-top: 4.5rem;
    border-radius: 3px;
}

button.signin-change {
    background-color: initial;
    color: #da3743;
}

button.signin-button-modal{
    margin-left: 8px;
    margin-right: 8px;
    padding: 0px 16px;
    margin: 0 8px;
    float: right;
    display: flex;
    font-weight: 200;
    padding: 6px 12px;
    cursor: pointer;
    align-items: flex-start;
    text-align: center;
    text-indent: 0px;
    word-spacing: normal;
}

button.demo-button {
    background-color: #247f9e;
    color: #fff;
    border-radius: 4px;
    height: 3rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    width: 75%;
    text-align: center;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-title {
    font-size: 18px;
    font-weight: 700;
}

.login-body {
    font-size: 16px;
    font-weight: 400;
}

.phone-number-input-login {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background: #0000;
    border: none;
    box-sizing: border-box;
    color: #2d333f;
    display: block;
    line-height: 24px;
    min-height: 48px;
    padding: 0.75rem 8px;
    width: 100%;
    background: #fff;
    border: 0.0625rem solid #d8d9db;
    border-radius: 4px;
    box-sizing: border-box;
}

.email-input-login {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background: #0000;
    border: none;
    box-sizing: border-box;
    color: #2d333f;
    display: block;
    line-height: 24px;
    min-height: 48px;
    padding: 0.75rem 8px;
    width: 100%;
    background: #fff;
    border: 0.0625rem solid #d8d9db;
    border-radius: 4px;
    box-sizing: border-box;
}


.error {
    color: #931b23;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin: 4px 0 0 8px
}